@use "variables" as var;

@mixin infobox {
  padding: 30px;
  background-color: var.$primary-color;
  border-radius: 3px;
}

@mixin profileframe {
  border-radius: 50%;
  width: 60%;
  height: auto;
  box-shadow: 2px 2px 30px 2px var.$shadow;
  margin: 5px;
}
