@use "variables" as var;
@use "mixins" as mix;

.landingpage {
  background-image: url(../assets/negative-space-black-forest-dawn.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: saturate(150%) brightness(80%) contrast(80%);
  margin: 0;
  height: 100vh;
  .header {
    display: flex;
    justify-content: end;
    padding: 10px;
    background-color: rgb(255, 255, 255, 0.1);
    @include mix.tablet {
      padding: 20px;
    }
    .nav {
      a {
        color: var.$text-light;
        text-decoration: none;
        padding: 5px;
        @include mix.tablet {
          padding: 15px;
          font-size: 1.3rem;
        }
      }
    }
  }
  &__text {
    color: var.$text-light;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 82%;
    padding: 30px;
    @include mix.tablet {
      height: 77%;
    }
    h2 {
      font-size: 2rem;
      @include mix.tablet {
        font-size: 1.75rem;
      }
    }
    p {
      font-size: 1.7rem;
      padding: 5px;
      @include mix.tablet {
        font-size: 1.3rem;
      }
    }
  }
  &__icon {
    color: var.$text-light;
    font-size: 1.5rem;
    text-align: center;
    margin-top: auto;
    @include mix.tablet {
      font-size: 1.3rem;
    }
  }
}
.team {
  padding: 10px;
  text-align: center;

  &__wall {
    margin: 10px;
    @include mix.tablet {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }

    &__profile {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;

      @include mix.tablet {
        max-height: 60vh;
        font-size: 0.85rem;
        width: 40vw;
      }
      &__image {
        @include mix.profileframe;
      }
      &__info {
        @include mix.infobox;

        .quote-mark {
          font-size: 2.5rem;
          font-family: "Courier New", Courier, monospace;
        }
      }
    }
  }
}
main > p:last-child {
  font-size: 1.5rem;
}

.footer {
  background-color: black;
  color: var.$text-light;
  padding: 30px 40px;
  font-size: 1.5rem;
  @include mix.tablet {
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
  }
  &__adress {
    padding: 5px;
  }
  &__contact {
    padding: 5px;
  }
  &__social {
    padding: 5px;
    &__icon {
      padding-right: 10px;
    }
    p {
      @include mix.tablet {
        margin-top: 20px;
      }
    }
  }
}
