@use "variables" as var;
@use "mixins" as mix;

.landingpage {
  background-image: url(../assets/negative-space-black-forest-dawn.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: saturate(150%) brightness(80%);
  margin: 0;
  height: 100vh;
  .header {
    display: flex;
    justify-content: end;
    padding: 10px;
    background-color: rgb(255, 255, 255, 0.1);
    .nav {
      a {
        color: var.$text-light;
        text-decoration: none;
        padding: 5px;
      }
    }
  }
  &__text {
    color: var.$text-light;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
    padding: 30px;
    p {
      font-size: 1.3rem;
      padding: 10px;
    }
  }
  &__icon {
    color: var.$text-light;
    font-size: 1.3rem;
    text-align: center;
    margin-top: auto;
  }
}
.team {
  padding: 10px;
  text-align: center;

  &__wall {
    margin: 10px;
    @include mix.tablet {
      display: flex;
      justify-content: space-evenly;

      //flex-wrap: wrap;
    }

    &__profile {
      display: flex;
      flex-direction: column;
      align-items: center;

      padding: 10px;
      @include mix.tablet {
        height: 55vh;
      }
      &__image {
        @include mix.profileframe;
      }
      &__info {
        @include mix.infobox;

        .quote-mark {
          font-size: 2.5rem;
          font-family: "Courier New", Courier, monospace;
        }
      }
    }
  }
}
main > p:last-child {
  font-size: 1.3rem;
}

.footer {
  background-color: black;
  color: var.$text-light;
  padding: 40px;
  @include mix.tablet {
    display: flex;
    justify-content: space-around;
  }
  &__adress {
    padding: 5px;
  }
  &__contact {
    padding: 5px;
  }
  &__social {
    padding: 5px;
    &__icon {
      padding-right: 10px;
    }
  }
}
