@use "variables" as var;
@use "mixins" as mix;

//landing page
.landing-page {
  background-image: url(../assets/negative-space-black-forest-dawn.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  //filter: saturate(150%) brightness(80%) contrast(80%);
  //margin: 0;
  height: 100vh;
  position: relative;

  //landing page text
  &__text {
    color: var.$text-light;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90%;
    padding: 0 30px;

    &--lg-txt {
      font-size: 2rem;
      @include mix.tablet {
        font-size: 1.75rem;
      }
    }
    &--md-txt {
      font-size: 1.7rem;
      padding: 5px;
      @include mix.tablet {
        font-size: 1.3rem;
      }
    }
  }
  //arrow white
  &__icon {
    color: var.$text-light;
    font-size: 1.5rem;
    text-align: center;
    margin-top: auto;
    @include mix.tablet {
      font-size: 1.5rem;
    }
    &--link {
      color: var.$text-light;
    }
  }
}
