@use "variables" as var;
@use "mixins" as mix;

//teampage
.team {
  padding: 10px;
  text-align: center;
  &--lg-txt {
    font-size: var.$header-mobile;
    @include mix.tablet {
      font-size: var.$header-desktop;
    }
  }

  &__wall {
    margin: 10px;
    @include mix.tablet {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
  }
  //profile
  &__profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    padding-top: 25px;

    @include mix.tablet {
      max-height: auto;
      font-size: 0.85rem;
      width: 40vw;
    }
  }
  &__name {
    margin: 0;
    // behöver jag denna?
  }
  &__image {
    @include mix.profileframe;
  }
  &__info {
    @include mix.infobox;

    .bi::before {
      font-weight: bolder !important;
    }

    .quote-mark {
      font-size: var.$quote-size;
      transform: rotate(180deg);
      display: inline-block;
      //font-family: "Courier New", Courier, monospace;
    }
  }
  //arrow blk
  &__icon {
    &--link {
      color: black;
      font-size: var.$arrow-size;
    }
  }
}
