$tablet: 768px;
$desktop: 1200px;

$primary-color: #d7d6d6;
$text-light: #ffffff;

$header-mobile: 2rem;
$header-desktop: 1.75rem;

$md-txt-mobile: 1.7rem;
$md-txt-desktop: 1.3rem;

$arrow-size: 1.5rem;
$quote-size: 3rem;

$shadow: #777777;
$shadow-box: 2px 2px 30px 2px $shadow;
